<h3>{{leyenda}}</h3>
<div class="input-group">
    <!--ngModelChange es un evento que emiten todos los ngModel al cambiar valor #txtProgress se usa para enviar la referencia al viewChild-->
    <input #txtProgress type="number" name="progreso" [(ngModel)]="progreso" (ngModelChange)="onChanges($event)" (cambioValor)="progreso=$event" min="1" max="100" class="form-control" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
    <div class="input-group-append" id="button-addon4">
        <button class="btn btn-outline-primary" type="button" (click)="cambiarValor(+5)">
        <i class="mdi mdi-plus"></i>
      </button>
        <button class="btn btn-outline-primary" type="button" (click)="cambiarValor(-5)">
          <i class="mdi mdi-minus"></i>
      </button>
    </div>
</div>